<ion-view view-title="Event Schedule">
<style>
  img {
    width: 100%;
  }
</style>
  <ion-content>
    <img src="img/calendar2.gif">
      <ion-list>
        <h2>Today</h2>
        <ion-item>
          Setup in Large Ballroom <strong>(07/14/15)</strong>
          <br>
          <i>Platinum Dinner Event</i>
        </ion-item>
        <h2>Tomorrow</h2>
        <ion-item href="#/app/event_details">
          Platinum Dinner <strong>(Today's Event)</strong>
        </ion-item>
        <ion-item>
          Setup in Large Ballroom <strong>(07/16/15)</strong>
          <br>
          <i>Associate Summer Picnic</i>
        </ion-item>
        <ion-item>
          Setup in Bullhead Room <strong>(07/16/15)</strong>
          <br>
          <i>Regional Management Team Building</i>
        </ion-item>
        <h2>This Week</h2>
        <ion-item>
          Setup in Large Ballroom <strong>(07/14/15)</strong>
          <br>
          <i>Platinum Dinner Event</i>
        </ion-item>
        <ion-item>
          Platinum Dinner Serve <strong>(Today's Event)</strong>
        </ion-item>
        <ion-item>
          Setup in Large Ballroom <strong>(07/16/15)</strong>
          <br>
          <i>Associate Summer Picnic</i>
        </ion-item>
        <ion-item>
          Setup in Bullhead Room <strong>(07/16/15)</strong>
          <br>
          <i>Regional Management Team Building</i>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
