<ion-view view-title="Carafe">
  <style>
    img {
      width: 100%;
    }
  </style>
  <div>
  <ion-content>
    <img src="img/Glossary/carafe.jpg">
    <ion-list>
      <ion-item menu-close href="#/app/">
        Location: <strong>Winter Wait Station</strong>
        <br>
        In Box on Shelf 13B
      </ion-item>
      <ion-item menu-close href="#/app/">
        Description:
        <br>
        Used for Beveraging Larger Amounts of a <br> Single <strong>Cold</strong> Bevarage to a Table
      </ion-item>
    </ion-list>
  </ion-content>
  </div
</ion-view>
